<template name="game_details">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/game_log">Game Log</a></li>
            <li>Game Details</li>
        </ol>

        <!-- Display who is/was playing whom -->
        <div class="row">
            <div class="col-md-4 col-sm-12">
                {{#with playerInfo.player1}}
                {{> user_info_display}}
                {{/with}}
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="game-user-info-vs">
                --== VS ==--
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                {{#with playerInfo.player2}}
                {{> user_info_display}}
                {{/with}}
            </div>
        </div>

        <!-- Include game start date -->
        <div class="game-date">
        {{gameStatus.start_date}}
        </div>

        <hr />

        <!-- Player Info and Game Status -->
        {{#with gameStatus}}
        {{> game_status}}
        {{/with}}

        <!-- Game board -->
        <a href="#" id="comments-link">(skip to comments)</a>
        <div class="row">
            <div class="col-lg-12 game-grid {{#if gameStatus.current_player_turn}}game-grid-highlighted{{/if}}">
                {{#each cells}}
                {{> cell_display}}
                {{/each}}

                <!-- Hack to get it to respect height properly. -->
                <div style="clear: both"></div>
            </div>
        </div>

        <!-- Comments -->
        <h3 id="comments-section">Comments</h3>
        <div class="row">
            <div class="col-md-8">
            {{> comments}}
            </div>
        </div>
    </div>
</template>

<template name="user_info_display">
   <div class="game-user-info-details">
       {{profile.username}}{{#if isMyUser this}} [YOU]{{/if}}
       <img src="/avatars/{{profile.avatar}}" title="{{profile.username}}">
   </div>
</template>

<template name="game_status">
    <div class="game-status">
        <h2>{{gameStatusHeading this}}</h2>
        <h3>{{gameStatusDetails this}}{{#if move_timeout_date}}: <span id="move-timer" data-expiration="{{dateToEpoch move_timeout_date}}" class="game-status-move-timer"></span>{{/if}}</h3>
    </div>
</template>

<template name="cell_display">
    <div class="grid-cell {{#if isPlayerTurn}}grid-cell-highlighted js-clickable-grid-cell{{/if}}" style="width: {{cellWidthStyle}}" data-x="{{x}}" data-y="{{y}}" data-gameId="{{gameId}}">
        <img src="/grid_icons/{{cellContent content isWinningCell}}">
    </div>
</template>

<template name="comments">
    <!-- comments form -->
    {{> comments_form}}

    <!-- comments display -->
    <ol class="comments-list">
        {{#each comments}}
        <hr />
        {{> single_comment_display}}
        {{/each}}
    </ol>
</template>

<template name="comments_form">
    {{#if currentUser}}
    <form class="js-comment-form">
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="textarea" class="form-control" id="form_comment_text" placeholder="Enter comment here ...">
        </div>

        <button type="submit" class="btn btn-default" id="form_comment_submit_button">Post</button>
    </form>
    {{else}}
    <div class="alert alert-info">
        <p>You must be logged in to post comments.</p>
    </div>
    {{/if}}
</template>

<template name="single_comment_display">
    <li>
        <p><b>{{getUserName userId}}:</b> {{text}}</p>
        <p class="footnote"><abbr title="{{creationDate}}">{{livestamp creationDate}}</abbr></p>
    </li>
</template>
