<template name="game_details">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/game_log">Game Log</a></li>
            <li>Game Details</li>
        </ol>
        <h2>Game Details</h2>

        <!-- Player Info and Game Status -->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3>Player Info</h3>
                <ul>
                    <li>
                        <b>PLAYER 1</b>
                        {{#with playerInfo.player1}}
                        {{> user_info_display}}
                        {{/with}}
                    </li>
                    <li>
                        <b>PLAYER 2</b>
                        {{#with playerInfo.player2}}
                        {{> user_info_display}}
                        {{/with}}
                    </li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12">
                <h3>Game Status</h3>
                {{#with gameStatus}}
                {{> game_status}}
                {{/with}}
            </div>
        </div>

        <!-- Game board -->
        <h3>Game Board</h3>
        <div class="row">
            <div class="col-lg-12 game-grid">
                {{#each cells}}
                {{> cell_display}}
                {{/each}}
            </div>
        </div>

        <!-- Comments -->
        <h3>Comments</h3>
        <div class="row">
            <div class="col-md-8">
            {{> comments}}
            </div>
        </div>
    </div>
</template>

<template name="user_info_display">
    <ul>
        <li><b>Avatar:</b> {{ profile.avatar }}</li>
        <li><b>Username:</b> {{ profile.username }}</li>
        <li><b>Score:</b> {{ profile.score }}</li>
        <li><b>Games Played:</b> {{ profile.games }}</li>
        <li><b>Wins:</b> {{ profile.wins }}</li>
    </ul>
</template>

<template name="game_status">
    <ul>
        <li>{{#if in_progress}}Game is in progress...{{else}}Game ended on {{end_date}}{{/if}}</li>
        <li>{{status}}</li>
        {{#if need_timer}}
        <li>Move Timer: <span id="move-timer" data-expiration="{{dateToEpoch move_timeout_date}}"></span></li>
        {{/if}}
    </ul>
</template>

<template name="cell_display">
    <div class="grid-cell {{#if isPlayerTurn}}js-clickable-grid-cell{{/if}}" style="width: {{cellWidthStyle}}" data-x="{{x}}" data-y="{{y}}" data-gameId="{{gameId}}">
        <img src="/grid_icons/{{cellContent content isWinningCell}}">
    </div>
</template>

<template name="comments">
    <!-- comments form -->
    {{> comments_form}}

    <!-- comments display -->
    <ol class="comments-list">
        {{#each comments}}
        <hr />
        {{> single_comment_display}}
        {{/each}}
    </ol>
</template>

<template name="comments_form">
    {{#if currentUser}}
    <form class="js-comment-form">
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="textarea" class="form-control" id="form_comment_text" placeholder="Enter comment here ...">
        </div>

        <button type="submit" class="btn btn-default" id="form_comment_submit_button">Post</button>
    </form>
    {{else}}
    <div class="alert alert-info">
        <p>You must be logged in to post comments.</p>
    </div>
    {{/if}}
</template>

<template name="single_comment_display">
    <li>
        <p><b>{{getUserName userId}}:</b> {{text}}</p>
        <p class="footnote"><abbr title="{{creationDate}}">{{livestamp creationDate}}</abbr></p>
    </li>
</template>
