<template name="game_log">
    <div class="container">
        <ol class="breadcrumb">
            <li>Game Log</li>
        </ol>
        <h2>Game Log</h2>
        <div class="btn-group" role="group">
            <button type="button" data-filtername="game-log-active-games-filter" class="js-game-log-filter btn btn-default {{filterButtonState 'game-log-active-games-filter'}}">Active Games</button>
            <button type="button" data-filtername="game-log-your-games-filter" class="js-game-log-filter btn btn-default {{filterButtonState 'game-log-your-games-filter'}}">Your Games</button>
            <button type="button" data-filtername="game-log-your-victories-filter" class="js-game-log-filter btn btn-default {{filterButtonState 'game-log-your-victories-filter'}}">Your Victories</button>
        </div>
        <hr />

        {{> game_history}}
    </div>
</template>

<template name="game_history">
    <div class="btn-group" role="group">
        <button type="button" id="prev-button" class="btn btn-default {{#unless gameData.hasPrev}}disabled{{/unless}}">Prev</button>
        <button type="button" id="next-button" class="btn btn-default {{#unless gameData.hasNext}}disabled{{/unless}}">Next</button>
    </div>
    <ul class="list-group">
    {{#each $mapped gameData.games}}

        {{#unless $.Session.equals 'game-log-page-size' $index}}
        <li class="list-group-item">
            <a href="game_log/{{_id}}">Game between {{getUserName player1Id}} and {{ getUserName player2Id}}, started {{creationDate}}</a>
        </li>
        {{/unless}}
    {{else}}
    <p>No results to show.</p>
    {{/each}}
    </ul>
</template>
