<template name="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Am&#337;baLive</h1>
                <img src="/amoba.png" class="home-title-img home-outlined-block" alt="Amoba Live">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-3 home-outlined-block">
                <p>Welcome to Am&#337;baLive, an online, 2-player implementation of the popular hungarian pen-and-paper game! Come to play, come for fun, or come to win!</p>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary btn-lg" style="width: 100%; height: 100%" href="/lobby">Play Now!</a>
            </div>
        </div>
    </div>
</template>
