<template name="lobby">
    <div class="container">
        <h2>Lobby</h2>
        <p>Welcome to the Game Lobby! From here, you can view your profile, search for other users, and challenge other players to play a game.</p>

        {{#if currentUser}}
        <div class="row">
            <div class="col-md-6 col-xs-12">
                {{#with currentUser}}
                {{> user_profile }}
                {{/with}}
            </div>
            <div class="col-md-6 col-xs-12">
                {{> invitation_details }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{> browse_users }}
            </div>
        </div>
        {{else}}
        <div class="alert alert-info">
            You must be logged in to access this section.
        </div>
        {{/if}}
    </div>
</template>

<!-- User status icon -->
<template name="user_status_icon">
    <img src="/status_icons/{{imgBasename}}" class="user-status" title="{{title}}">
</template>

<!-- User profile, including picture. Re-usable, both to show your own status, and that of other users. -->
<template name="user_profile">
    <h3>{{ profile.username }} {{#with getUserStatus this}}{{> user_status_icon}}{{/with}}</h3>
    <ul>
        <li><b>Avatar:</b> {{ profile.avatar }}</li>
        <li><b>Username:</b> {{ profile.username }}</li>
        <li><b>Score:</b> {{ profile.score }}</li>
        <li><b>Games Played:</b> {{ profile.games }}</li>
        <li><b>Wins:</b> {{ profile.wins }}</li>
    </ul>
</template>

<!-- Game invitation info (your token and invitations sent to you) -->
<template name="invitation_details">
    <h3>Invitation Details</h3>
    <h4>Outgoing Invitation:</h4>
    <ul class="list-group">
        {{#if activeOutgoingInvitation}}
        {{#with activeOutgoingInvitation}}
        <li class="list-group-item invitation-item js-invitation-item" data-toggle="modal" data-target="#user-popup">
            {{ getUserName profile.invitation_token.user_id }}
            <span id="invitation-out-timer"
                  class="js-invitation-timer badge"
                  title="expires {{ profile.invitation_token.expiration_date }}"
                  data-expiration="{{ dateToEpoch profile.invitation_token.expiration_date }}"></span>
        </li>
        {{/with}}
        {{else}}
        <li class="list-group-item">
            (no invitations)
        </li>
        {{/if}}
    </ul>

    <h4>Incoming Invitations:</h4>
    <ul class="list-group">
        {{#each activeIncomingInvitations}}
        <li class="list-group-item invitation-item js-invitation-item" data-toggle="modal" data-target="#user-popup">
            {{ profile.username }}
            <span id="invitation-in-{{_id}}-timer"
                  class="js-invitation-timer badge"
                  title="expires {{ profile.invitation_token.expiration_date }}"
                  data-expiration="{{ dateToEpoch profile.invitation_token.expiration_date }}"></span>
        </li>
        {{else}}
        <li class="list-group-item">
            (no invitations)
        </li>
        {{/each}}
    </ul>
</template>

<!-- Browse/Search users. -->
<template name="browse_users">
    <h3>Browse Users</h3>

    <!-- Display list of users -->
    <div class="row">
    {{#each users}}
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="#" class="no-underline js-browse-user" data-toggle="modal" data-target="#user-popup">
                <div class="browse-users-item">
                    <img src="/avatars/{{ profile.avatar }}" class="mini-avatar">
                    {{ profile.username }} {{#with getUserStatus this}}{{> user_status_icon}}{{/with}}
                    <br />
                    {{ profile.score }}
                </div>
            </a>
        </div>
    {{/each}}
    </div>

    <!-- Modal to pop up user profile -->
    <div class="modal fade" id="user-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            {{> user_popup_content_adapter}}
            </div>
        </div>
    </div>
</template>

<!-- A simple way to pass the data context along to the modal template in a reactive fashion. -->
<template name="user_popup_content_adapter">
    {{#with userFromSession}}
    {{> user_popup_content}}
    {{/with}}
</template>

<!-- Modal body template, reactive to browsed user. -->
<template name="user_popup_content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Play a Game?</h4>
    </div>
    <div class="modal-body">
    {{> user_profile}}
    </div>
    <div class="modal-footer">
        {{#if isMyUser this}}
        <button type="button" class="btn btn-disabled disabled">Cannot play with yourself</button>
        {{else}}
        <button type="button" class="btn btn-primary js-match-user">{{challengeButtonText this}}</button>
        {{/if}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</template>
