<template name="navbar">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Header with collapsible responsive option. -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Am&#337;baLive</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <!-- Create standard "3 bar" button effect common to mobile apps. -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Main navbar content. -->
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="js-nav-item {{ isActiveRoute name='lobby' }}">
                        <a href="/lobby">Lobby</a>
                    </li>
                    <li class="js-nav-item {{ isActiveRoute name='history' }}">
                        <a href="/history">History</a>
                    </li>
                    <li class="js-nav-item {{ isActiveRoute name='leaderboard' }}">
                        <a href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="js-nav-item {{ isActiveRoute name='rules' }}">
                        <a href="/rules">Rules</a>
                    </li>
                    <li class="js-nav-item {{ isActiveRoute name='about' }}">
                        <a href="/about">About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>

