/**
 * App styles.
 */
body {
    /* Push content down so the fixed navbar doesn't hide it. */
    padding-top: 60px;
}

h1 {
    text-align: center;
}

.active-game-highlight {
    background: green;
}

.incoming-challenge-highlight {
    background: darkgoldenrod;
}


.footnote {
    font-size: 8pt;
    font-style: italic;
}

/**
 * Landing page stuff
 */
.home-title-img {
    max-width: 100%;
    max-height: 75vh;
    display: block;
    margin: 0 auto;
}

.home-outlined-block {
    /*
    border: 1px solid darkgrey;
    border-radius: 5px;
    */
}


/**
 * Lobby stuff
 */
.no-underline {
    text-decoration: none !important;
}

.user-profile {
    /*
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    */
}

.user-profile-img {
    width: 100%;
    border-radius: 5px;
}

.browse-users-item {
    padding: 5px;
    margin-top: 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    text-align: center;
}

.browse-users-item:hover {
    background: darkgrey;
}

.browse-users-item .mini-avatar {
    float: left;
    height: 40px;
}

.user-status {
    height: 15px;
}

.invitation-item:hover {
    background: darkgrey;
    cursor: pointer;
}

/**
 * Game details/grid stuff.
 */
.game-user-info-details {
    font-size: 15pt;
    text-align: center;
}

.game-user-info-details img {
    width: 20%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.game-user-info-vs {
    border: 3px solid darkgrey;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    font-size: 15pt;
    margin: 20px auto;
}

.game-date {
    text-align: center;
    padding: 10px;
    font-style: italic;
    text-decoration: underline;
}

.game-grid {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    min-width: 768px;
    padding: 10px;
}

.grid-cell {
    /* width: x% - added separately. */
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.grid-cell img {
    width: 100%;
}

.comments-list {
    list-style: none;
}

/**
 * Game log stuff.
 */
.game-log-winner{
    text-decoration: none;
    font-style: bold;
    font-color: green;
}

/**
 * Leaderboard stuff.
 */

.leaderboard-item {
    font-size: 13pt;
}

.leaderboard-avatar {
    width: 75%;
    border-radius: 5px;
}

